---
layout: default
---

{% include header.html %}
<section class="index">
    <div>
        <p>
            Hello. I hope you're doing well. :)
        </p>
        <p>See music I have been listening to: <a href="https://scrobble.littleroot.org/u/nishanth">scrobble.littleroot.org/u/nishanth</a>.</p>
        <p>
            My GitHub username is <a href="https://github.com/{{site.github_username}}">nishanths</a> and my email is <a href="mailto:{{site.email}}">nishanths@utexas.edu</a>.
        </p>
    </div>
    {% assign n = site.posts | size %}
    {% if n != 0 %}
    <h1 id="blog"><a href="/blog/">Posts</a></h1>
    {% if n == 0 %}
    <div>
        <emph><p>This section is empty.</p></emph>
    </div>
    {% else %}
    <ul>
    {% for post in site.posts %}
        <li>
            <div>
                <a href="{{ post.url }}">{{ post.title }}</a>
                {% comment %}
                <span class="date">{{post.date | date: "%Y-%m-%d"}}</span>
                {% endcomment %}
            </div>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
</section>
